<div class="card">
<div class="card-img">
    <img src="{{flags.svg}}" alt="{{name.official}}width='180'/>
</div>
<div>
    <h2 class="card-title">{{name}}</h2>
    <p class="card-capital">Capital: {{capital}}</p>
    <p class="card-population">Population: {{population}}</p>
    <ul class="card-languages"Languages:>
        {{#each Languages}}
        {{#if @last}}
        <li class='country-languages-item'>{{this}}</li>
        {{else}}
        <li class="language-item">{{language}}</li>
        {{/if}}
        {{/each}}
    </ul>
</div>

</div>