<div class="card">
<div class="card-img">
    <img src="{{flags.svg}}" alt="{{name}}">
</div>
<div>
    <h2 class="card-title">{{name}}</h2>
    <p class="card-capital">Capital: {{capital}}</p>
    <p class="card-population">Population: {{population}}</p>
    <ul class="card-languages"Languages:>
        {{#each Languages}}
        <li class="language-item">{{language}}</li>
        {{/each}}
    </ul>
</div>









</div>